* {

    /* Familia de fuentes */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
    text-align: center;
    font-weight: bold;

    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#photo {

    /* Ancho del elemento */
    width: 8vw;

    /* Alto del elemento */
    height: auto;
}

.subtitle {

    /* Color del texto en rgba */
    color: rgb(151 156 165 / 0.89);

    /* Transformación del texto a mayúsculas */
    text-transform: uppercase;
}


footer p {

    /* Alineación del texto a la derecha */
    text-align: right;

    /* Estilo de fuente itálica */
    font-style: italic;

}

nav > ul {

    /* Eliminar los estilos de lista predeterminados */
    list-style: none;
    
    /* Activa el modelo de diseño Flexbox*/
    display: flex;

    /* Distribuye los elementos con espacio igual entre ellos */
    justify-content: space-between;

    /* Organiza los elementos en una fila horizontal de izquierda a derecha */
    flex-direction: row;

    /* Centra verticalmente los elementos dentro del contenedor */
    align-items: center;

    /* Establece un espacio uniforme de 1rem entre cada elemento */
    gap: 1rem;

}

section {

    /* borde de grosor 0.2 en puntos, estilo sólido y color hexadecimal #cedddd  */
    border: 0.2pt solid #cedddd;

    /* margen (espacio externo) superior, derecho, abajo e izquierda */
    margin: 4px 2px 8px 2px;

    /* relleno (espacio interno) de
    1.5% en la parte superior e inferior y
    0.8% a los lados derecho e izquierdo. */

    padding: 1.5% 0.8%;

    /* Margen inferior ajustado */
    margin-bottom: 1.2rem;

}

section > form {

    /* Activa el modelo de diseño basado en cuadrícula */
    display: grid;

    /* Define una sola columna que ocupa todo el ancho disponible del contenedor */
    grid-template-columns: 1fr 1fr;

    /* Establece un espacio vertical uniforme de 1rem entre filas */
    row-gap: 1rem;

    /* Establece un espacio horizontal uniforme de 1rem entre columnas */
    column-gap: 1rem;


}

/* section#testimonios {

    display: flex;
    
    flex-wrap: wrap;

    gap: 1rem;

}


#testimonios > h2 {

     flex: 0 0 100%;

}

#testimonios > article {

     flex: 1 1 calc(33.333% - 1rem);

} */

#testimonios {
    display: grid;

    /* Define tres columnas iguales */
    grid-template-columns: repeat(3, 1fr);
}

#testimonios > h2 {

     /* El subtítulo ocupa las tres columnas */
     grid-column: 1 / -1;

}